*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.flex-container{
    display:flex;
    flex-direction: column;
    width: auto;
}

.flex-container div{
    flex:1 1 100px;
}

.flex-container .one{
    background-color: #1F2937;
    flex-grow:2;
    flex-basis:400px;
    margin-top:0;
    padding:20px;
    padding-left:120px;
    padding-right:120px;
    padding-bottom:30px;
}

.flex-container .one .header{
    margin: 0;
    padding-bottom:70px;
    display:flex;
    align-items: center;
}

.flex-container .one .header .header-links{
    font-size:18px;
    color:#E5E7EB;
    display: flex;
    flex:1;
    justify-content: flex-end;
}

.flex-container .one .header .header-links a{
    padding-left: 20px;
}


.flex-container .one .header h1{
    font-size:24px;
    color:#F9FAF8;
    flex:1;
    text-align: start;
}

.flex-container .one .subheader{
    display:flex;
}

.flex-container .one .subheader h1{
    font-size:48px;
    color:#F9FAF8;
    margin-bottom: 20px;
}

.flex-container .one .subheader p{
    font-size:18px;
    color:#F9FAF8;
    text-align: left;
    margin-bottom:20px;
    margin-right:100px;
}

.flex-container .one .subheader button{
    width: 120px;
    height: 40px;
    background-color: #3882F6;
    color:#F9FAF8;
    font-size:18px;
    border-radius: 10px;
    border: 1px solid #1F2937;
    margin-top:10px;
}

.flex-container .one .subheader img{
    border-radius: 10px;
    border: 1px solid #1F2937;

}

.flex-container .two{
    background-color: white;
    flex-grow:1;
    flex-basis:1200px;
    justify-content: space-evenly;

}

.flex-container .two p{
    font-size:36px;
    font:bold;
    color:#1F2937;
    text-align: center;
    padding-top:30px;
}

.flex-container .two .models{
    display:flex;
    padding-top:100px;
    padding-left:200px;
    padding-right:200px;
}

.flex-container .two .models .model2,
.flex-container .two .models .model3,
.flex-container .two .models .model1{
    margin-right:40px;
}

.flex-container .two .models .model1{
    margin-left:20px;
}

.flex-container .two .models .model1,
.flex-container .two .models .model2,
.flex-container .two .models .model3,
.flex-container .two .models .model4{
        border:1px solid #1F2937;

}

.flex-container .three{
    background-color: #1F2937;
    flex-grow:1;
    flex-basis:150px;
}

.flex-container .three p{
    color:white;
    text-align:center;
    padding-top:65px;
}